{% extends "base.html" %} {% block title %}Password change{% endblock %} {% block content
    %}
    <form method="POST">
        <div class="form-group">
        <br />
        <h1 align="center">Change your password</h1>
        <br />
        <label for="current_password">Current password</label>
        <input
          type="password"
          class="form-control"
          id="current_password"
          name="current_password"
          placeholder="Enter your old password"
          required
          style="width: 300px"
        />
        <br/>
        <label for="new_password">New password</label>
        <input
          type="password"
          class="form-control"
          id="new_password"
          name="new_password"
          placeholder="Enter new password"
          required
          style="width: 300px"
        />
        <br/>
        <label for="repeated_password">Repeat new password</label>
        <input
          type="password"
          class="form-control"
          id="repeated_password"
          name="repeated_password"
          placeholder="Repeat new password"
          required
          style="width: 300px"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}