{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <form method="POST">
        <br />
        <span>Enter given characters of your password:</span>
        <br />
        <div class="form-group" style="display: flex">
        {% for i in range(no_inputs) %}
        <div style="margin-right: 3px">
            {% if i in non_required_inputs %}
                <input
                    type="text"
                    class="form-control"
                    id="input{{ i }}"
                    name="input{{ i }}"
                    required
                    maxlength="1"
                    style="width: 40px; text-align: center"
                    placeholder="X"
                    readonly
                />
            {% else %}
                <input
                    type="password"
                    class="form-control"
                    id="input{{ i }}"
                    name="input{{ i }}"
                    required
                    style="width: 40px"
                />
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <br />
      <button type="submit" class="btn btn-primary" {% if disable_button %}disabled{% endif %}>Login</button>
    </form>
{% endblock %}